#utils {
    background-color: @surface0;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 1rem;
}

#custom-screenshot,
#custom-eyedropper,
#custom-keyboard {
    color: @white;
    background-color: @surface1;
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    border-radius: 50%;
}

#custom-screenshot {
    padding-right: 14px;
}

#custom-eyedropper {
    padding-right: 12.5px;
}

#custom-keyboard {
    margin-right: 0;
    padding-right: 15px;
}
