@define-color text #b7b6b1;
@define-color surface0 #35322b;
@define-color surface1 #302f2b;
@define-color background #403c33;

@define-color white #fffefd;
@define-color gray #595651;

* {
    font-family: "Rubik", "JetBrainsMono NF", monospace;
    font-size: 14px;
}

window#waybar {
    color: @text;
    background-color: @background;
}

#custom-separator {
    padding-left: 2.5px;
    padding-right: 7.5px;
}

@import "theme/system.css";
@import "theme/controls.css";
@import "theme/hardware.css";
@import "theme/music.css";
@import "theme/workspaces.css";
@import "theme/watch.css";
@import "theme/utils.css";
@import "theme/tray.css";
@import "theme/info.css";
